[submodule "shared/owls"]
	path = shared/owls
	url = https://github.com/loftusa/owls
[submodule "shared/mmulet-subliminal-learning"]
	path = shared/mmulet-subliminal-learning
	url = https://github.com/mmulet/minhxle-subliminal-learning.git
